<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather-Infused Planning</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
</head>
<body>

  <header> 
    <div class="w3-container w3-indigo">
      <h1>This will be the create page for <b>Weather Infused Planning!</b></h1>
    </div>
     <div class="w3-bar w3-blue-gray">
      <div class="w3-dropdown-hover w3-blue-gray">
        <button class="w3-button">Menu</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="#" class="w3-bar-item w3-button">Link 1</a>
          <a href="#" class="w3-bar-item w3-button">Link 2</a>
          <a href="#" class="w3-bar-item w3-button">Link 3</a>
        </div>
      </div>
      <a href="#" class="w3-bar-item w3-button w3-right">My Account</a>
    </div>
  </header>
    </div> 
  </header>

  
  <div class="w3-container">
    <h2>Create Event</h2>
    <div class="w3-card-4">
      <div class="w3-container">
        
        <form action="{% url 'createEvent' %}" method="post">
          
          {% csrf_token %}
          {{ event_form.as_p }}
          
          <input type="submit" value="Create">
          <br>
          
        </form>
      </div>
    </div> 
        
        
    