<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather-Infused Planning</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
  <script>
    function GoToDetailView(id) { window.location.href = "/event/"+id+"/"}
  </script>
</head>
<body>

  {% include 'weatherApp/includes/headerBar.html' %}


  <div class="w3-container">
    <h2>All Events</h2>

    <div class="w3-panel">
      <ul class="w3-ul w3-border w3-round-large w3-xlarge">
        {%for event in event_list%}
        <li class="w3-hover-light-grey" type="button" onclick="GoToDetailView({{event.id}})"><!--a href="/event/{{event.id}}"-->{{event}}<!--/a--> - {{event.start}} to {{event.end}}</li>
        {% endfor %}
      </ul> 
    </div>


    {% block content %}
    {% endblock %}
  </div>

  <footer>
      <p>&copy; 2023 Some College Students</p>
  </footer>
</body>
</html>