<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather-Infused Planning</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
</head>
<body>

  <header> 
    <div class="w3-container w3-indigo">
      <h1>This will be the index / base / home page for <b>Weather Infused Planning!</b></h1>
    </div>
     <div class="w3-bar w3-blue-gray">
      <div class="w3-dropdown-hover w3-blue-gray">
        <button class="w3-button">Menu</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="/" class="w3-bar-item w3-button">Home</a>
          <a href="/createEvent" class="w3-bar-item w3-button">Create Event</a>
          <a href="/allEvents" class="w3-bar-item w3-button">All Events</a>
        </div>
      </div>
      <a href="#" class="w3-bar-item w3-button w3-right">My Account</a>
    </div>
  </header>
    </div> 
  </header>
  
  
  <div class="w3-container">
  
    <div class="w3-card-4 w3-margin">
    
    <header class="w3-container w3-blue">
     <h1>Weather Notice!</h1>
    </header>
    
    <div class="w3-container">
     <p>Your <b>Outdoor Barbecue</b> event <b>tomorrow at 3:00 PM</b> may have hazardous weather!</p>
    </div>
      <button class="w3-button w3-block w3-blue">View Details</button>
    </div>
    
    <div class="w3-panel">
      <ul class="w3-ul w3-border w3-round-large w3-xlarge">
        {%for event in event_list%}
        <li class="w3-hover-light-grey">{{event}} - {{event.start}} to {{event.end}}.</li>
        {% endfor %}
      </ul> 
    </div>
    
    {% block content %}
    {% endblock %}
  </div>
  
  <footer>
      <p>&copy; 2023 Some College Students</p>
  </footer>
</body>
</html>