{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather-Infused Planning</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  
  <script>
    function use_ip(json) {
      $.ajax({
        url: {% url 'get_weather_from_ip' %},
        data: {"ip": json.ip},
        dataType: 'json',
        success: function (data) {
          document.getElementById("weatherdata").innerHTML = data.weather_data 
        }
      });
    }
  </script>

  <script src="https://api.ipify.org?format=jsonp&callback=use_ip"></script>
</head>
<body>
  {% include 'weatherApp/includes/headerBar.html' %}

  <div class="w3-container">
  
    <div class="w3-card-4 w3-margin">
    
    <header class="w3-container w3-blue">
     <h1>Weather Notice!</h1>
    </header>
      
    <div class="w3-container">
      <p id=weatherdata></p>
      {%for event in event_list%}
      {% if forloop.first %}
     <p>Your <b>{{event.title}}</b> event <b>{{event.start}}</b> may have hazardous weather!</p>
      {% endif %}
      {% endfor %}
    </div>
      <button class="w3-button w3-block w3-blue">View Details</button>
    </div>
    
    <div class="w3-panel">
      <ul class="w3-ul w3-border w3-round-large w3-xlarge">
        {%for event in event_list%}
        <li class="w3-hover-light-grey">{{event}} - {{event.start}} to {{event.end}}</li>
        {% endfor %}
      </ul> 
    </div>
    
    {% block content %}
    {% endblock %}
  </div>
  
  <footer>
      <p>&copy; 2023 Some College Students</p>
  </footer>
</body>
</html>