<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELLOW WORLD!</title>
</head>
<body>
    <header>
        <h1>This will be the index / base / home page for <b>Weather Infused Planning!</b></h1>
        <nav>
            
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Some College Students</p>
    </footer>
</body>
</html>