<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather-Infused Planning</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
</head>
<body>
  {% include 'weatherApp/includes/headerBar.html' %}

  
  <div class="w3-container">
    <h2>App Preferences</h2>
    <div class="w3-panel">
      <ul class="w3-ul w3-border w3-round">
        <li style="cursor: pointer" onclick="location.href='/editUserSetting'" class="w3-hover-light-grey">Weather Notifications</li>
        <li class="w3-hover-light-grey">App Theme</li>
        <li class="w3-hover-light-grey">Accessibility</li>
      </ul> 
    </div>
  </div>  
  <div class="w3-container">
    <h2>Data and Privacy</h2>
    <div class="w3-panel">
      <ul class="w3-ul w3-border w3-round">
        <li class="w3-hover-light-grey">Security</li>
        <li class="w3-hover-light-grey">Privacy Notice</li>
      </ul> 
    </div>
  </div>  
  <div class="w3-container">
    <h2>Your Account</h2>
    <div class="w3-panel">
      <ul class="w3-ul w3-border w3-round">
        <li class="w3-hover-light-grey">Manage Profile</li>
        <li class="w3-hover-light-grey">Switch Accounts</li>
        <li class="w3-hover-light-grey">Logout</li>
      </ul> 
    </div>
  </div>  

  <footer>
      <p>&copy; 2023 Some College Students</p>
  </footer>
</body>
</html>