<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather-Infused Planning</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
</head>
<body>
  {% include 'weatherApp/includes/headerBar.html' %}


  <div class="w3-container">
    <h2>Weather Notification Preferences</h2>
      <div class="w3-container">
        <form action="{% url 'editUserSetting' %}" method="post">
          {% csrf_token %}
          {{ user_settings_form.weather_notifs }}
          <input class="w3-button w3-blue" type ="submit" value="update">
          <a href="/settings" class="w3-button w3-red">Back</a>
          <br>
        </form>
      </div>
  </div>
    
    <footer>
      <p>&copy; 2023 Some College Students</p>
    </footer>
</body>
</html>
